Assignment_5/build/*
Assignment_5/buildRelease/*
.vscode/*
.DS_Store
*/buildRelease
.idea
*/report.md
*/report.pdf
*/cmake-build-debug
*/cmake-build-release
*/build*/*
/ext/SDL/debian/*
/build/*
/cmake-build-debug/*
/cmake-build-release/*